.main-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--bg-blue);
    z-index: 100;
    @media screen and (min-width: 576px) {
        width: 100%;
        position: sticky;
        top: 0;
    }
}
.main-button {
    background-color: var(--bg-black);
    color: var(--text-white);
    &:visited {
        color: var (--text-white)
    }
    border-left: 4px solid var(--bg-blue);
    height: 61px;
    line-height: 61px;
    text-align: center;
    text-transform: uppercase;
}
